@import 'flowbite/dist/flowbite.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: orbitron;
    src: url("/fonts/Orbitron-VariableFont_wght.ttf");
}
@font-face{
    font-family: russoOne;
    src: url("/fonts/RussoOne-Regular.ttf");
}
@font-face{
    font-family: montserrat;
    src: url("/fonts/Montserrat-VariableFont_wght.ttf");
}
@font-face{
    font-family: manrope;
    src: url("/fonts/Manrope-VariableFont_wght.ttf");
}